{% if site.data.bio.awards %}
<div class="sixteen wide column no-bottom">
  <h3 class="ui header no-bottom">Awards &amp; Honors</h3>
  <hr style="margin: 0px;">
</div>

{% for entry in site.data.bio.awards %}
<div class="sixteen wide column no-bottom">
  <b>{{ entry.title }}<span style="float:right;">{{ entry.date | slice: 5,2 }}/{{ entry.date | slice: 0,4 }}</span></b>
</div>
<div class="sixteen wide column no-bottom" style="padding-top: 0px;">
  <a href="{{ entry.website }}">{{ entry.awarder }}</a>
</div>
<div class="sixteen wide column no-bottom" style="padding-top: 0px;">
  <p class="ui no-bottom">{{ entry.summary }}</p>
  {% if entry.highlights %}
  <ul style="margin: 0px;">
    {% for highlight in entry.highlights %}
    <li>{{ highlight }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endfor %}
{% endif %}
