{% if site.data.bio.volunteer %}
<div class="sixteen wide column no-bottom">
  <h3 class="ui header no-bottom">Volunteer Experience</h3>
  <hr style="margin: 0px;">
</div>

{% for entry in site.data.bio.volunteer %}
<div class="sixteen wide column no-bottom">
  <b>{{ entry.position }}<span style="float:right;">{{ entry.startDate | slice: 5,7 }}/{{ entry.startDate | slice: 0,4 }}–{% if entry.endDate != "Present" %}{{ entry.endDate | slice: 5,7 }}/{{ entry.endDate | slice: 0,4 }}{% else %}{{ entry.endDate }}{% endif %}</span></b>
</div>
<div class="sixteen wide column no-bottom" style="padding-top: 0px;">
  <a href="{{ entry.website }}">{{ entry.organization }}</a>
</div>
<div class="sixteen wide column no-bottom" style="padding-top: 0px;">
  <p class="ui no-bottom">{{ entry.summary }}</p>
  {% if entry.highlights %}
  <ul style="margin: 0px;">
    {% for highlight in entry.highlights %}
    <li>{{ highlight }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endfor %}
{% endif %}
