{% if site.data.bio.basics.website != empty %}
<p class="ui no-bottom"><a href="{{ site.data.bio.basics.website }}"><i class="large home icon"></i>{{ site.data.bio.basics.website | remove: "http://" | remove: "https://" }}</a></p>
{% endif %}

{% if site.data.bio.basics.email != empty %}
<p class="ui no-bottom"><a href="mailto:{{ site.data.bio.basics.email }}"><i class="large mail square icon"></i>{{ site.data.bio.basics.email }}</a></p>
{% endif %}

{% if site.data.bio.basics.phone != empty %}
<p class="ui no-bottom"><a href="tel:{{ site.data.bio.basics.phone }}"><i class="large phone square icon"></i>{{ site.data.bio.basics.phone }}</a></p>
{% endif %}

{% for profile in site.data.bio.basics.profiles %}
<p class="ui no-bottom"><a href="{{ profile.url }}"><i class="large {{ profile.network | downcase }} square icon"></i>{{ profile.url | remove: "http://" | remove: "https://" }}</a></p>
{% endfor %}
