<!-- Used by theme-essays-builtin-2 -->

<div class="ten wide column">
  <div class="ui raised segment">
    <div class="ui red ribbon label">{{ include.page.date | date_to_string }}</div><a class="ui header" href="{{ site.baseurl}}{{ include.page.url }}">{{ include.page.title }}</a>
    <div class="description" style="margin-top: 10px">
      {{ include.page.content | markdownify | strip_html | truncatewords: 40 }}
    </div>
    <div class="ui divider"></div>
    <div style="text-align: center" class="ui labels">
      {% for label in include.page.labels %}
      <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
  </div>
</div>
