<!-- Used by theme-projects-builtin-1a, entire card is the link. -->

<div class="card">
  {% if include.page.image %}
  <a class="image" href="{% if page.projecturl %}{{ page.projecturl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}">
    <img src="{{ site.baseurl }}/{{ include.page.image }}">
  </a>
  {% endif %}

  <div class="content">
    <a class="header" href="{% if page.projecturl %}{{ page.projecturl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}">{{ include.page.title }}</a>
    <div class="meta">
      <span class="date">{{ include.page.date | slice: 5,2 }}/{{ include.page.date | slice: 0,4 }}</span>
    </div>
    <div class="description">
      {{ include.page.summary }}
    </div>
  </div>

  <div class="extra content">
    <div style="text-align: center" class="ui labels">
      {% for label in include.page.labels %}
      <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
  </div>
</div>
